  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #fff;
  /* overflow: hidden; */
}

/*      NAVBAR  SECTION     */
header.sticky {
  height: 12%;
  background: #fff;
  box-shadow: 3px 0 5px #999999;
  z-index: 1000;
  padding: 27px 11%;
}
header.sticky .navbar a {
  color: #000;
}
header.sticky .login p {
  color: #000;
  border: 2px solid #000;
  border-radius: 17px;
}
header.sticky img {
  content: url(image/logo\ black.png);
}
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: 33px 11%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.50s ease;
}
.logo img {
  width: 80px; 
  height: auto; 
}
.login p {
  border: 2px solid #fff;
  border-radius: 17px;
  padding: 7px 20px;
  font-size: 1.1rem;
  margin: 15px 22px;
  font-weight: 650;
  color: #fff;
}
.login p:hover {
  background: #dad7d795;
}
.navbar {
  display: flex;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 15px 22px;
  transition: all 0.5s ease;
  text-decoration: none;
  position: relative; 
}
.navbar a.active {
  color: #fff;
}
.navbar a:hover {
  color: #fff;
}
.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.4s ease;
  position: absolute;
  bottom: -8px; 
  left: 0;
}
.navbar a:hover::after {
  width: 100%; 
}



/*    BACKGROUND      */
.background{
  position: relative;
  height: 50vh;
  width: 94%;
  margin-top: 3vh;
  margin-left: 5vh;
  background-size: cover;
  background-position: center; 
  border-radius: 40px 40px 40px 40px;
  background-image:  url(image/palu.png);
  /* box-shadow: 3px 0 20px #000; */
}



/*       READ MORE        */
/* .more-content {
  display: none;
  color: #000;
} */




/*   HOME1    */
.home-section {
  max-width: 1200px;
  justify-content: center;
  padding: 5% 0  0 31vh;
  background-color: #fff;
}
.home-section h1 {
  font-size: 35px;
  margin-top: 0;
  color: #333;
}
.home-section p {
  font-size: 15px;
  line-height: 1.6;
  color: #888;
  margin: 20px 0;
  text-align: justify;
}
.read-more {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 15px;
}
.read-more:hover {
  text-decoration: underline;
}



/*    HOME2    */
.section {
  margin: 40px 0 90px 0;
  margin-bottom: 30px;
  padding: 0 0 0 31vh;
  max-width: 1200px;
}
.icon-title {
  display: flex;
  align-items: center;
}
.icon {
  background-color: #0e9b9ddf;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px;
}
.icon i {
  color: #fff;
  font-size: 25px;
}
.section h2 {
  margin: 0;
  font-size: 24px;
  color: #0e9b9ddf;
  margin-top: 20px;
  margin-bottom: 5px;
}
.section p {
  text-align: justify;
  margin: 0;
  font-size: 15px;
  color: #999;
}
hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 35px 0;
}



/*   HOME3   */
.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 6vh;
}
.container h1 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: left;
  padding: 0 3vh;
}
.container p {
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
  text-align: left;
  padding: 0 3vh;
}
.carousel {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}
.carousel .card {
  flex: 0 0 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 0 10px;
  text-align: left;
}
.carousel .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.carousel .card p {
  padding: 10px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #444;
}
.carousel .arrow {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.carousel .arrow.left {
  left: 10px;
}
.carousel .arrow.right {
  right: 10px;
}
.carousel .arrow i {
  font-size: 18px;
}




/*     KUNJUNGI WISATA    */
.hidden-home {
  display: none;
}
.explore-more-home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}
.home h1 {
  font-size: 2.2em;
  margin: 0;
  margin-top: 5px;
}
.home p {
  margin: 10px 0;
  color: #7a7a7a;
  font-size: 14px;
}
.sub-text-home {
  font-size: 1em;
}
.filters-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}
.filter-btn-home {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.filter-btn-home.active {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.filter-btn-home:hover{
  background-color: #000;
  color: #fff;
  border-color: #fff;
}
.filter-btn-home.active:hover{
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.card-container-home {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 48px;
}
.card-home {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 270px;
  text-align: left;
  color: #333;
  width: 250px; 
  height: 280px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-home img {
  width: 100%;
  height: 150px; 
  object-fit: cover;
}
.card-content-home {
  padding: 10px; 
  position: relative;
}
.rating-badge-home {
  padding: 3px 8px; 
  font-size: 0.8em; 
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 0.9em;
}
.rating-badge-home span {
  color: #000000 !important; 
}
.rating-badge-home i {
  color: rgb(250, 217, 67);
}
.location-home {
  display: flex;
  align-items: center;
  color: #7a7a7a;
  margin: 8px 0; 
  font-size: 0.9em; 
}
.location-icon-home {
  margin-right: 5px;
  color: #5fa1df;
}

/* Button  */
button{
  background: #191919;
  padding: 12px 20px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 7px;
  letter-spacing: 2px;
}
button:hover{
  background: #fbfbfbb7;
  border: 2px solid #fbfbfbb3;
  transition: .4s;
  cursor: pointer;
  font-weight: 900;
  color: #000;
}
.details-btn-home {
  background-color: #2b2b3a;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 700;
  font-size: 12px; 
  padding: 6px 12px; 
}
.details-btn-home:hover {
  background-color: transparent;
  border-color: #000;
}

/* Button show more */
.show-more-home {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 11.5px;
}
.show-more-home button{
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}
.show-more-home button:hover {
  transform: scale(1.0);
  background: #000;
  color: #fff;
}






/*        FOOTER SECTION       */
.Footer {
  display: grid;
  gap: 2rem;
  border-radius: 60px 60px 0 0;
  margin-top: 10px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
.footer-box{
  display: flex;
  flex-direction: column;
}
.footer-box h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}
.footer-box a{
  color: #000;
  margin-bottom: 0.8rem;
  transition: all .50s ease;
}
.footer-box a:hover{
  transform: translateX(-5px);
  color: #777;
}
.social a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: #202020;
  color: var(--text-color);
  font-size: 20px;
  border-radius: 50%;
  margin-right: 8px;
  transition: transform 0.6s;
}
.social a:hover{
  background: var(--main-color);
  color: #000;
  transform: translateX(-4px);
}
section{
  padding: 70px 17% 60px;
}
